## MongoDB

## Question 1

### What is MongoDB? Explain non-relational databases. In which scenarios it is preferred to use MongoDB over SQL databases?

#### MongoDB is a source-available cross-platform document-oriented database program. Classified as a NoSQL database program, MongoDB uses JSON-like documents with optional schemas.

#### A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored. For example, data may be stored as simple key/value pairs, as JSON documents, or as a graph consisting of edges and vertices.

#### There are a variety of use cases where MongoDB is well-suited. Some of these include real-time analytics, content management, the internet of things, mobile, and other types of applications that are new and can take advantage of what MongoDB has to offer.

## Question 2

### State and Explain the features of MongoDB.

#### These are some important features of MongoDB:

#### 1. Support ad hoc queries
##### In MongoDB, we can search by field, range query and it also supports regular expression searches.

#### 2. Indexing
#### We can index any field in a document.

#### 3.Replication
#### MongoDB supports Master Slave replication. A master can perform Reads and Writes and a Slave copies data from the master and can only be used for reads or back up (not writes).

#### 4. Duplication of data
#### MongoDB can run over multiple servers. The data is duplicated to keep the system up and also keep its running condition in case of hardware failure.

#### 5. Load balancing
#### It has an automatic load balancing configuration because of data placed in shards.

#### 6. Supports map reduce and aggregation tools.

#### 7. Provides high performance. and also can store files of any size easily without complicating your stack.

## Question 3

In [1]:
# pip install pymongo

In [2]:
## Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

import pymongo
client = pymongo.MongoClient("mongodb+srv://swarnendu:swarnenduruidas@cluster0.xrxxd2d.mongodb.net/?retryWrites=true&w=majority")
db = client["mongo_db"]
create_coll = db["my_collection"]

## Question 4

In [3]:
data = {
    "name": "Swarnendu",
    "age": 29,
    "phone": 8884131111
}
data2 = {"courses": ["data science masters", "web dev", "java with DSA"], "mentors": ["Swarnendu", "Karthik", "Chameli"]}
random_data = { "company_name": "OLY", "CEO": "Swarnendu"}, {"company_name": "SYS", "CEO": "Gaurav"}, {"company_name": "FLY", "CEO": "Rohit"}

In [4]:
## insert one record
create_coll.insert_one(data)

## insert many records.
create_coll.insert_many(random_data)

In [5]:
for i in create_coll.find():
    print(i)

{'_id': 3, 'company_name': 'OLY', 'CEO': 'Swarnendu'}
{'_id': 4, 'company_name': 'SYS', 'CEO': 'Gaurav'}
{'_id': 5, 'company_name': 'FLY', 'CEO': 'Rohit'}
{'_id': ObjectId('63f4b791d700bcacfb4ebd0b'), 'company_name': 'OLY', 'CEO': 'Swarnendu'}
{'_id': ObjectId('63f4b791d700bcacfb4ebd0c'), 'company_name': 'SYS', 'CEO': 'Gaurav'}
{'_id': ObjectId('63f4b791d700bcacfb4ebd0d'), 'company_name': 'FLY', 'CEO': 'Rohit'}
{'_id': 12, 'school': 'ATL', 'name': 'Gaurav'}
{'_id': 9, 'school': 'FLY', 'name': 'Rohit'}
{'_id': ObjectId('63f4b9b6c9de495672e84423'), 'company_name': 'OLY', 'CEO': 'Swarnendu'}
{'_id': ObjectId('63f4b9b6c9de495672e84424'), 'company_name': 'SYS', 'CEO': 'Gaurav'}
{'_id': ObjectId('63f4b9b6c9de495672e84425'), 'company_name': 'FLY', 'CEO': 'Rohit'}
{'_id': ObjectId('63f4b9bbc9de495672e84427'), 'school': 'ATL', 'name': 'Gaurav', 'age': 25}
{'_id': ObjectId('63f4b9bbc9de495672e84428'), 'school': 'FLY', 'name': 'Rohit', 'age': 31}
{'_id': ObjectId('63f4b9bbc9de495672e84429'), 'school': 'SRD', 'name': 'Kaushik', 'age': 27}
{'_id': ObjectId('63f4bf46178c30343a40bc31'), 'name': 'Swarnendu', 'age': 29, 'phone': 8884131111}
{'_id': ObjectId('63f4bf46178c30343a40bc32'), 'company_name': 'OLY', 'CEO': 'Swarnendu'}
{'_id': ObjectId('63f4bf46178c30343a40bc33'), 'company_name': 'SYS', 'CEO': 'Gaurav'}
{'_id': ObjectId('63f4bf46178c30343a40bc34'), 'company_name': 'FLY', 'CEO': 'Rohit'}

In [6]:
create_coll.find_one()

{'_id': 3, 'company_name': 'OLY', 'CEO': 'Swarnendu'}

## Question 5

### Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

#### In MongoDB, find() method is used to select documents in a collection and return a cursor to the selected documents. Cursor means a pointer that points to a document, when we use find() method it returns a pointer on the selected documents and returns one by one. If we want to return pointer on all documents then use empty() parameter that returns all documents one by one. It takes only some optional parameters. The first optional parameter is the selection criteria on which we want to return a cursor. To return all documents in a collection use empty document({}). Using this method we can also replace embedded documents. We can also use this method in multi-document transactions. If we use this method in the mongo shell, then the shell will automatically iterate the cursor to display up to 20 documents in the collection, if we want to continue then type it or we can manually iterate the result of the find() method by assigning the returned cursor to a variable with the var keyword. We can also modify the behavior of this method using cursor methods.

#### Example: Database: class
#### Collections: student
#### Document: Let' say three documents contains the details of the students
#### Find all the documents present in the collection: db.student.find()
#### Find all the documents present in the collection by passing empty document: db.student.find({})
#### Find all the document that matches the given filter query(i.e., age:18): db.student.find({age:18})

## Question 6

### Explain the sort() method.

#### To sort documents in MongoDB, you need to use sort() method. The method accepts a document containing a list of fields along with their sorting order. To specify sorting order 1 and -1 are used. 1 is used for ascending order while -1 is used for descending order.

In [9]:
mydb = client["mydatabase"]
mycol = mydb["customers"]

mydoc = mycol.find().sort("name")
for x in mydoc:
    print(x)

{'_id': 3, 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': 11, 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': 7, 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': 13, 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': 4, 'name': 'Hannah', 'address': 'Mountain 21'}

## Question 7

In [10]:
for i in create_coll.find():
    print(i)

{'_id': 3, 'company_name': 'OLY', 'CEO': 'Swarnendu'}
{'_id': 4, 'company_name': 'SYS', 'CEO': 'Gaurav'}
{'_id': 5, 'company_name': 'FLY', 'CEO': 'Rohit'}
{'_id': ObjectId('63f4b791d700bcacfb4ebd0b'), 'company_name': 'OLY', 'CEO': 'Swarnendu'}
{'_id': ObjectId('63f4b791d700bcacfb4ebd0c'), 'company_name': 'SYS', 'CEO': 'Gaurav'}
{'_id': ObjectId('63f4b791d700bcacfb4ebd0d'), 'company_name': 'FLY', 'CEO': 'Rohit'}
{'_id': 12, 'school': 'ATL', 'name': 'Gaurav'}
{'_id': 9, 'school': 'FLY', 'name': 'Rohit'}
{'_id': ObjectId('63f4b9b6c9de495672e84423'), 'company_name': 'OLY', 'CEO': 'Swarnendu'}
{'_id': ObjectId('63f4b9b6c9de495672e84424'), 'company_name': 'SYS', 'CEO': 'Gaurav'}
{'_id': ObjectId('63f4b9b6c9de495672e84425'), 'company_name': 'FLY', 'CEO': 'Rohit'}
{'_id': ObjectId('63f4b9bbc9de495672e84427'), 'school': 'ATL', 'name': 'Gaurav', 'age': 25}
{'_id': ObjectId('63f4b9bbc9de495672e84428'), 'school': 'FLY', 'name': 'Rohit', 'age': 31}
{'_id': ObjectId('63f4b9bbc9de495672e84429'), 'school': 'SRD', 'name': 'Kaushik', 'age': 27}
{'_id': ObjectId('63f4bf46178c30343a40bc31'), 'name': 'Swarnendu', 'age': 29, 'phone': 8884131111}
{'_id': ObjectId('63f4bf46178c30343a40bc32'), 'company_name': 'OLY', 'CEO': 'Swarnendu'}
{'_id': ObjectId('63f4bf46178c30343a40bc33'), 'company_name': 'SYS', 'CEO': 'Gaurav'}
{'_id': ObjectId('63f4bf46178c30343a40bc34'), 'company_name': 'FLY', 'CEO': 'Rohit'}

In [11]:
create_coll.delete_one({"name": "Swarnendu"})

In [12]:
for i in create_coll.find():
    print(i)

{'_id': 3, 'company_name': 'OLY', 'CEO': 'Swarnendu'}
{'_id': 4, 'company_name': 'SYS', 'CEO': 'Gaurav'}
{'_id': 5, 'company_name': 'FLY', 'CEO': 'Rohit'}
{'_id': ObjectId('63f4b791d700bcacfb4ebd0b'), 'company_name': 'OLY', 'CEO': 'Swarnendu'}
{'_id': ObjectId('63f4b791d700bcacfb4ebd0c'), 'company_name': 'SYS', 'CEO': 'Gaurav'}
{'_id': ObjectId('63f4b791d700bcacfb4ebd0d'), 'company_name': 'FLY', 'CEO': 'Rohit'}
{'_id': 12, 'school': 'ATL', 'name': 'Gaurav'}
{'_id': 9, 'school': 'FLY', 'name': 'Rohit'}
{'_id': ObjectId('63f4b9b6c9de495672e84423'), 'company_name': 'OLY', 'CEO': 'Swarnendu'}
{'_id': ObjectId('63f4b9b6c9de495672e84424'), 'company_name': 'SYS', 'CEO': 'Gaurav'}
{'_id': ObjectId('63f4b9b6c9de495672e84425'), 'company_name': 'FLY', 'CEO': 'Rohit'}
{'_id': ObjectId('63f4b9bbc9de495672e84427'), 'school': 'ATL', 'name': 'Gaurav', 'age': 25}
{'_id': ObjectId('63f4b9bbc9de495672e84428'), 'school': 'FLY', 'name': 'Rohit', 'age': 31}
{'_id': ObjectId('63f4b9bbc9de495672e84429'), 'school': 'SRD', 'name': 'Kaushik', 'age': 27}
{'_id': ObjectId('63f4bf46178c30343a40bc32'), 'company_name': 'OLY', 'CEO': 'Swarnendu'}
{'_id': ObjectId('63f4bf46178c30343a40bc33'), 'company_name': 'SYS', 'CEO': 'Gaurav'}
{'_id': ObjectId('63f4bf46178c30343a40bc34'), 'company_name': 'FLY', 'CEO': 'Rohit'}

In [13]:
create_coll.delete_many({"CEO": "Swarnendu"})

In [14]:
for i in create_coll.find():
    print(i)

{'_id': 4, 'company_name': 'SYS', 'CEO': 'Gaurav'}
{'_id': 5, 'company_name': 'FLY', 'CEO': 'Rohit'}
{'_id': ObjectId('63f4b791d700bcacfb4ebd0c'), 'company_name': 'SYS', 'CEO': 'Gaurav'}
{'_id': ObjectId('63f4b791d700bcacfb4ebd0d'), 'company_name': 'FLY', 'CEO': 'Rohit'}
{'_id': 12, 'school': 'ATL', 'name': 'Gaurav'}
{'_id': 9, 'school': 'FLY', 'name': 'Rohit'}
{'_id': ObjectId('63f4b9b6c9de495672e84424'), 'company_name': 'SYS', 'CEO': 'Gaurav'}
{'_id': ObjectId('63f4b9b6c9de495672e84425'), 'company_name': 'FLY', 'CEO': 'Rohit'}
{'_id': ObjectId('63f4b9bbc9de495672e84427'), 'school': 'ATL', 'name': 'Gaurav', 'age': 25}
{'_id': ObjectId('63f4b9bbc9de495672e84428'), 'school': 'FLY', 'name': 'Rohit', 'age': 31}
{'_id': ObjectId('63f4b9bbc9de495672e84429'), 'school': 'SRD', 'name': 'Kaushik', 'age': 27}
{'_id': ObjectId('63f4bf46178c30343a40bc33'), 'company_name': 'SYS', 'CEO': 'Gaurav'}
{'_id': ObjectId('63f4bf46178c30343a40bc34'), 'company_name': 'FLY', 'CEO': 'Rohit'}

In [15]:
create_coll.drop()

In [16]:
for i in create_coll.find():
    print(i)