## MySql

## Question 1

### What is a database?

#### In computing, a database is an organized collection of data stored and accessed electronically. Small databases can be stored on a file system, while large databases are hosted on computer clusters or cloud storage.

### Differentiate between SQL and NoSQL databases.

|            SQL                                                   |          NoSQL                                                                      |
| ------------------------------------------------------------     |:-----------------------------------------------------------------------------------:|
| RELATIONAL DATABASE MANAGEMENT SYSTEM (RDBMS).                   | Non-relational or distributed database system.                                      |
| These databases have fixed or static or predefined schema.       | They have dynamic schema.                                                           |
| These databases are not suited for hierarchical data storage.    | These databases are best suited for hierarchical data storage.                      |
| These databases are best suited for complex queries.             | These databases are not so good for complex queries.                                |
| Vertically Scalable, Follows ACID property.                      | Horizontally scalable, Follows CAP(consistency, availability, partition tolerance). |
| Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc.         | Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc.                           |

## Question 2

### What is DDL?

#### Data definition language (DDL) Commands in Structured Query Language are used to create and modify the schema of the database and its objects. The syntax of DDL commands is predefined for describing the data. The commands of Data Definition Language deal with how the data should exist in the database.

### CREATE Command
#### CREATE is a DDL command used to create databases, tables, triggers and other database objects.
#### This example describes how to create a new database using the CREATE DDL command: Create Database Books;

### DROP Command
#### DROP is a DDL command used to delete/remove the database objects from the SQL database. We can easily remove the entire table, view, or index from the database using this DDL command.
####  This example describes how to remove a database from the SQL database: DROP DATABASE Books;

### ALTER Command
#### ALTER is a DDL command which changes or modifies the existing structure of the database, and it also changes the schema of database objects. We can also add and drop constraints of the table using the ALTER command.
#### This example shows how to add a new field to the existing table: ALTER TABLE name_of_table ADD column_name column_definition;

### TRUNCATE Command
#### TRUNCATE is another DDL command which deletes or removes all the records from the table. This command also removes the space allocated for storing the table records.
#### TRUNCATE TABLE Table_Name;

## Question 3

### What is DML?
#### The structured query language (SQL) commands deal with the manipulation of data present in the database that belongs to the DML or Data Manipulation Language.

### INSERT
#### Insert command is used to insert data into a table.
#### Example: Insert into Employee(Emp_id, Emp_name) values (001, “ Swarnendu”);

### UPDATE
#### Update command is used to update existing data within a table.
#### Example: UPDATE Employee SET Emp_name= Ram WHERE Emp_id= 001;

### DELETE
#### Delete command is used to delete records from a database table.
#### Example: DELETE from Employee WHERE Emp_id=001;

## Question 4

### What is DQL?
#### Data Query Language(DQL) is used to fetch the data from the database.
#### SELECT: This is the same as the projection operation of relational algebra. It is used to select the attribute based on the condition described by WHERE clause.
#### Example: SELECT emp_name FROM employee WHERE age > 20; (table nae is employee, column names are emp_name, age and followed by the condition)

## Question 5

### Explain Primary Key and Foreign Key.
#### The primary key is a unique or non-null key that uniquely identifies every record in a table or relation. Each database needs a unique identifier for every row of a table, and the primary key plays a vital role in identifying rows in the table uniquely. The primary key column can't store duplicate values. It is also called a minimal super key; therefore, we cannot specify more than one primary key in any relationship.
#### For example, we have a table named customer with attributes such as ID, Name, and City. Only the ID column can never contain duplicate and NULL values because each customer has a unique identification number. This feature helps to identify each record in the database uniquely. Hence, we can make the ID attribute a primary key.

#### The foreign key is a group of one or more columns in a database to uniquely identify another database record in some other table to maintain the referential integrity. It is also known as the referencing key that establishes a relationship between two different tables in a database. A foreign key always matches the primary key column in another table. It means a foreign key column in one table refers to the primary key column of another table. A foreign key is beneficial in relational database normalization, especially when we need to access records from other tables. A foreign key creates a parent-child relationship with the tables where the parent table holds the initial column values, and the child table references the parent column values. We can achieve this relationship only when the foreign key constraint is found on the child table.
#### For example, we have a table named contact with attributes such as ID, Customer_Id, Customer_Info, and Type. Here we can make the Customer_Id column a foreign key.

## Question 6

#### Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

``` import mysql.connector
mydb = mysql.connector.connect(
  host="localhost",
  user="abc",
  password="password"
)
mycursor = mydb.cursor()
mycursor.execute("CREATE DATABASE if not exists test")
mycursor.execute("CREATE TABLE if not exists test.test_table (c1 INT, c2 VARCHAR(50), c3 INT, c4 FLOAT, c5 VARCHAR(40));")
mydb.close()
```

### cursor(): The cursor of mysql-connector-python is used to execute statements to communicate with the MySQL database. Using the methods of it we can execute SQL statements, fetch data from the result sets, call procedures. We can create Cursor object using the cursor() method of the Connection object/class.
### execute(): This method accepts a MySQL query as a parameter and executes the given query.

## Question 7

### Give the order of execution of SQL clauses in an SQL query.

#### The SQL order of execution defines the order in which the clauses of a query are evaluated. Some of the most common query challenges people run into could be easily avoided with a clearer understanding of the SQL order of execution, sometimes called the SQL order of operations. Understanding SQL query order can help you diagnose why a query won’t run, and even more frequently will help you optimize your queries to run faster.

|   ORDER       |   CLAUSE        |       FUNCTION                                                                      
| ------------- |:----------------|-----------------------------------------:|
| 1             | from            | Choose and join tables to get the data.  |
| 2             | where           | Filters the base data.                   |
| 3             | group by        | Aggregates the base data.                |
| 4             | having          | Filters the aggregated data.             |
| 5             | select          | Returns the final data.                  |
| 6             | order by        | Sorts the final data.                    |
| 7             | limit           | Limits the returned data to a row count. |