## Pandas

## Question 1

In [1]:
import pandas as pd

In [2]:
pan_series = pd.Series([4, 8, 15, 16, 23, 42])
print(pan_series)
type(pan_series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

pandas.core.series.Series

## Question 2

In [3]:
nums = [0, 4, 8, 15, 16, 23, 42, 10, 31, 23]
pan_series = pd.Series(nums)
print(pan_series)
type(pan_series)

0     0
1     4
2     8
3    15
4    16
5    23
6    42
7    10
8    31
9    23
dtype: int64

pandas.core.series.Series

## Question 3

In [4]:
df = pd.DataFrame({"Name": ["Alice", "Bob", "Claire"], "age": [25, 30, 27], "Gender": ["Female", "Male", "Female"]})
df

     Name  age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

## Question 4

### What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
#### A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.
#### Pandas Series is one dimensional, homogenous(series elements must be of the same data type) and Size immutable(Once created, the size of a Series object cannot be changed). whereas Pandas DataFrame is two dimensional, heterogenous(DataFrame elements can have different data types) and size mutable(Elements can be dropped or added in an existing DataFrame).

## Question 5

### What are some common functions you can use to manipulate data in a Pandas DataFrame?
1. Dropping columns in the data
2. Dropping rows in the data
3. Renaming a column in the dataset
4. Select columns with specific data types
5. Slicing the dataset
6. Select specific values in the column
7. Group by in DataFrame
8. Replacing values in a DataFrame
9. Save the DataFrame as a CSV file
and many more.

In [5]:
## Example - Slicing the data frame
print(df.iloc[:3, 2])
print(df.loc[:3, 'Name'])

0    Female
1      Male
2    Female
Name: Gender, dtype: object
0     Alice
1       Bob
2    Claire
Name: Name, dtype: object

## Question 6

### Which of the following is mutable in nature Series, DataFrame, Panel?
#### These are actually pandas data structures and all Pandas data structures are value mutable (can be changed) and except Series all are size mutable. Series is size immutable.

## Question 7

In [6]:
## Create a DataFrame using multiple Series. Explain with an example.

courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

df=pd.concat([courses,fees,discount],axis=1)
print(df)
type(df)

         0      1     2
0    Spark  22000  1000
1  PySpark  25000  2300
2   Hadoop  23000  1000

pandas.core.frame.DataFrame